@import "../../../styles/variables";

.lawyerHelpItem {
  border-radius: 20px;
  background-color: #fff;
  filter: drop-shadow(0px 0px 3px #fff);
  padding: 20px 20px 20px 0;

  .scrollbar {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .lawyerHelpHeader {
    color: $primary-color;
    font-weight: 700;
    font-size: 28px;
    padding: 0px 20px 5px 20px;

    .lawyerHelpHeader__text {
      color: $primary-color;
    }
  }

  .lawyerHelperAnswers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 20px;
    padding-top: 25px;

    .lawyerHelperAnswer {
      background-color: #fff;
      flex: 1 0 auto;
      filter: drop-shadow(0px 0px 3px #003878);
      color: #003878;
      box-shadow: none;
      transition: all 0.25s;
      cursor: pointer;
      height: 64px;
      border-radius: 10px;
      padding: 0 20px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;

      &:hover {
        transform: translateY(-10px);
        transition: all 0.25s;
        filter: drop-shadow(0px 0px 8px #003878);
        background-color: #003878;
        color: #fff;
      }
    }
  }

  .lawyerHelpButtons {
    padding: 20px 20px 0 20px;
  }

  .marginRigth {
    margin-right: 10px;
  }
}
