.lawyerHelpItem {
    border-radius: 20px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 3px #fff);
    padding: 20px;

    .lawyerHelpHeader {
        margin-bottom: 30px;
        .lawyerHelpHeader__text {
            color: #003878;
        }
    }

    .lawyerHelperAnswers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        margin-bottom: 20px;

        .lawyerHelperAnswer {
            flex: 1 0 auto;

            input {
                width: 100%;
            }
        }
    }

    .marginRigth {
        margin-right: 10px;
    }

    .withoutMarginBottom {
        margin-bottom: 0;
    }
}