@import "../../../../styles/exports";

.lawyerHelpHeader {
  color: $primary-color;
  font-weight: 700;
  font-size: 28px;
  padding: 0px 20px 5px 20px;
  white-space: pre-wrap;

  .lawyerHelpHeader__text {
    color: $primary-color;
  }
}
