.message {
  margin-bottom: 30px;
}

.answersList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.editButtons {
  display: flex;
  column-gap: 10px;
}
