.answersList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: space-between;

  .answerItem {
    flex-grow: 1;
  }
}

.editButtons {
  display: flex;
  column-gap: 10px;
}
