.signUpForm {

    .signUpInputs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .signUpInputs__input {
            flex: 0 1 47%;
        }
    }
}