.loginFormWrapper {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .loginHeader {
        margin-bottom: 30px;

        h1,
        p {
            color: #003878;
        }
    }

    .loginForm {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .loginForm__input {
            margin-bottom: 20px;
            width: 100%;

            &:last-child {
                margin-bottom: 10px;
            }
        }

        .forgotPasswordBtn {
            text-align: right;
        }

        .loginAndRegBtns {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex-grow: 1;
            width: 60%;
            margin: 0 auto;

            .enterBtn {
                background-color: #003878;
                margin-bottom: 5px;
            }
        }

    }
}

.textBtn {
    padding: 0 !important;
    text-transform: none !important;
    color: #003878 !important;

    &:hover {
        background: none !important;
        text-decoration: underline !important;
    }

    &:active::after {
        background: none !important;
    }
}