.signUpWrapper {
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #003878;

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .signUpHeader {
        padding-top: 30px;
        color: #003878;
        border-bottom: 1px solid rgba(0, 56, 120, .1);
        padding-bottom: 15px;

        h1 {
            margin-bottom: 5px;
        }

        p {
            font-size: 12px;
        }
    }

    .signUpContent {
        padding-top: 15px;
    }
}