.generateQuestionWrapper {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    filter: drop-shadow(0px 0px 3px #fff);
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        button {
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 18px;
            color: #003878;
            cursor: pointer;
            opacity: .5;
        }

    }

    .title {
        font-size: 27px;
        font-weight: 600;
        position: relative;
    
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            background-color: #003878;
            border-radius: 25px;
        }
    }

    .generateAnswerList {
        max-height: 300px;
        overflow-y: scroll;
        padding-right: 6px;

        .generateAnswerList__btn {
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
    .generateAnswerList::-webkit-scrollbar {
        width: 6px;
    }
      
    .generateAnswerList::-webkit-scrollbar-track {
        background: #fff;    
        border-radius: 20px;     
    }
      
    .generateAnswerList::-webkit-scrollbar-thumb {
        background-color: #003878;    
        border-radius: 20px;      
    }
}

.genderText {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
    .genderTitle {
        margin-right: 20px;
        color: #333;
        font-size: 14px;
    }

    .genderContent {
        display: flex;
        justify-content: center;
        column-gap: 10px;

        .checkboxContent {
            display: flex;
            align-items: center;

            input {
                margin: 0 8px 0 4px;
                accent-color: #003878;
            }
        }
    }
}

.submitBtns {
    display: flex;
    justify-content: center;
    button {
        width: 100%;
    }
}

.withoutMarginBottom {
    margin-bottom: 0;
}