@import "../../../../styles/variables";

.addLawyerBtn {
  width: 64px;
  height: 64px;
  background-color: #fff;
  color: #003878;
  filter: drop-shadow(0px 0px 3px $primary-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;

  i {
    font-size: 25px;
  }

  &:hover {
    filter: drop-shadow(0px 0px 8px $primary-color);
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
    transform: translateY(-15px);
  }
}

.editWrapper {
  display: flex;

  .editWrapperSendBtn {
    margin-left: 10px;
    width: 64px;
    color: $primary-color;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s;
    filter: drop-shadow(0px 0px 1px $primary-color);
    border: none;
    outline: none;

    i {
      font-size: 25px;
    }

    &:hover {
      filter: drop-shadow(0px 0px 8px $primary-color);
      background-color: $primary-color;
      color: #fff;
      cursor: pointer;
    }
  }

  .cancelWrapperSendBtn {
    margin-left: 10px;
    width: 64px;
    color: $btnError-color;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s;
    filter: drop-shadow(0px 0px 1px $btnError-color);

    i {
      font-size: 25px;
    }

    &:hover {
      filter: drop-shadow(0px 0px 8px $btnError-color);
      background-color: $btnError-color;
      color: #fff;
      cursor: pointer;
    }
  }
}

// #cf0a2c
// #e36060
