.authWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #003878;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;   
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.container .form {
    padding: 30px;
}