@import "../../styles/variables";

.uiButton {
    border: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6px;
    background-color: $primary-color;
    cursor: pointer;
    transition: all .25s;
    padding: 10px 25px;

    &:hover {
        background-color: #111171;
        transition: all .25s;
    }
}

.snowyBtn {
    background-color: #fff;
    color: $primary-color;
    font-weight: 500;
    filter: drop-shadow(0px 0px 3px $primary-color);

    &:hover {
        background-color: $primary-color;
        color: #fff;
    }
}